<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CollectMapper">

    <select id="selectAll" resultType="com.example.entity.Collect">
        select
        *
        from collection
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="articleId != null"> and article_id=#{articleId}</if>
            <if test="cId != null"> and c_id=#{cId}</if>
        </where>
        order by id desc
    </select>


    <insert id="insert" parameterType="com.example.entity.Collect" useGeneratedKeys="true">
        insert into collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test=" articleId!= null">article_id,</if>
            <if test="cId != null">c_id,</if>
            <if test="name != null">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test=" articleId!= null">#{articleId},</if>
            <if test="cId != null">#{cId},</if>
            <if test="name != null">#{name},</if>
        </trim>
    </insert>
    <select id="findById" resultType="com.example.entity.Article">
        select
            article.*
        from collection
                 left join article on article.id=collection.article_id
        <where>
            <if test="cId != null">collection.c_id=#{cId} </if>
            <if test="category!=null and category!=''"> and collection.name=#{category}</if>
            <if test="journal!=null and journal!=''"> and article.journal=#{journal}</if>
            <if test="type!=null and type!=''"> and article.type=#{type}</if>
            <if test="aName!=null and aName!=''"> and article.name like concat('%', #{name}, '%')</if>
            <if test="keywords!=null and keywords!=''"> and article.keywords like concat('%', #{keywords}, '%')</if>
            <if test="author!=null and author!=''"> and article.author like concat('%', #{author}, '%')</if>
        </where>
    </select>
    <delete id="deleteById">
        delete from collection
        where  collection.article_id = #{articleId} and collection.c_id=#{cId}
    </delete>
    <delete id="deleteByName">
        delete from collection
        where  collection.name = #{name} and collection.c_id=#{cId}
    </delete>
</mapper>